<h1>Show</h1>

<p><%= @list.name.capitalize %>

<% @list.movies.each_with_index do |movie, index| %>
  <li>
    <%= movie.title %>
    <%= link_to 'Destroy', bookmark_path(id: @list.bookmarks.ids[index]), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
<% end %>
</p>
