.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;

  background-image: asset-url("lists.jpeg");
  background-size: cover;

  a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.new-bookmark {
  position: absolute;
  bottom: 0;
  right: 0;
  a {
    font-size: 16px;
  }
}
